@model EventsResponse

@if (Model.Events != null)
{
    <h1>Number of results: @Model.Events.Count</h1>
    @for (int i = 0; i < Model.Events.Count; i++)
    {
        <h3>@Model.Events[i].Name</h3>

        <p><img src="@Url.Content(@Model.Events[i].Images[0].Url)"></p>
        <p> @Model.Events[i].Type</p>
        <p>Ticket Prices: $@Model.Events[i].PriceRanges[0].Min - $@Model.Events[i].PriceRanges[0].Max</p>
        <p>@Model.Events[i].Dates.Status.Code</p>
        @if (Model.Events[i].Info != null)
        {
            <p>Description: @Model.Events[i].Info</p>
        }

        <p>Type of Event: @Model.Events[i].Classifications[0].Segment.Name</p>

    }
}
else
{
    <p>Those parameters are not compatible with the API.</p>
}
<a asp-action="Index">Try again</a>
