@model List<Favorites>


@{
    ViewData["Title"] = "List of Favorites";
}

<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Venue)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue)
                    </td>
                    <td>
                        <a asp-action="EventDetails" asp-route-id="@item.EventId">Details</a> |
                        <a asp-action="DeleteFromFavorites" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<a asp-action="Index">Try again</a>