@model VenuesResponse

@if (Model.Venues != null)
{
    <h1>Number of results: @Model.Venues.Count</h1>
    @for (int i = 0; i < Model.Venues.Count; i++)
    {
        if (Model.Venues[i].Images.Count > 0)
        {
        <p><img src="@Url.Content(@Model.Venues[i].Images[1].Url)" width="350px"></p>
        }
        <h3>@Model.Venues[i].Name</h3>
        <p> @Model.Venues[i].Type</p>
        <p>@Model.Venues[i].Address.Line1</p>
        <p>@Model.Venues[i].Address.Line2</p>
        <p>@Model.Venues[i].City.Name, @Model.Venues[i].State.StateCode, @Model.Venues[i].PostalCode</p>


    }

    <div>
        @if (Model.Page != 0)
        {
            if (Model.Page > 1)
            {
                <a asp-action="Venues2" asp-route-link="@Model.PageLink" asp-route-page="0"
                   class="btn btn-primary">First Page</a>
            }
            <a asp-action="Venues2" asp-route-link="@Model.PageLink" asp-route-page="@(Model.Page - 1)"
               class="btn btn-primary">Previous Page</a>
        }
        <a asp-action="Venues2" asp-route-link="@Model.PageLink" asp-route-page="@(Model.Page + 1)"
           class="btn btn-primary">Next Page</a>
    </div>
}

else
{
    <p>Those parameters are not compatible with the API.</p>
}
<a asp-action="Index">Try again</a>
